#comments {
  grid-area: comments;

  display: flex;
  flex-direction: row;
  min-height: 0;
  max-height: 100%;

  background-color: #fff;
  box-shadow: 0 2px 4px $shadow;

  @include tablet-size {
    min-height: $tablet-comment-height;
    //max-height: $tablet-comment-height;
    /* TODO: fix this with grid */
  }

  > #highlight {
    position: relative;
    width: 100px;
    background-color: $highlight_60;
    border-right: 2px solid $highlight_100;

    > img {
      position: absolute;
      top: 16px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  > #text-section {
    overflow: scroll;
    font-family: "Tinos", serif;
    font-size: 2rem;

    padding: 0.6em;

    > .writer {
      font-weight: 700;

      > .avatar {
        vertical-align: text-bottom;
      }
    }
  }
}
