<div id="highlight">
    <img src="" alt="comment-section">
</div>
<div id="text-section">
    <div class="comment">
        <div class="writer">
            <img class="avatar" src="" alt="Avatar">
            Kasparov:
        </div>
        <div class="comment">
            As far as I know, Black usually plays c6 and b5 before the move Bg7, but I don't think that this shift
            changes something seriously.
        </div>
        <div class="comment">

            <div class="writer">
                <img class="avatar" src="../img/avatar.svg" alt="Avatar">
                Kasparov:
            </div>
            <div class="comment">
                As far as I know, Black usually plays c6 and b5 before the move Bg7, but I don't think that this shift
                changes something seriously.
            </div>
        </div>
    </div>
</div>